#!/usr/bin/env bash

set -e -o pipefail

PROJECT_NAME=
GIT_REPO=
PUBLIC_WWW=
WORKING_DIR=/tmp/$PROJECT_NAME-working-dir
BUNDLE=$HOME/.rbenv/shims/bundle

function indent() {
  c='s/^/       /'
  case $(uname) in
    Darwin) sed -l "$c";;
    *)      sed -u "$c";;
  esac
}

# Delete working directory to start clean.
echo "-----> Removing previous build artifacts."
rm -rf $WORKING_DIR

# Get updated site.
echo "-----> Cloning site."
git clone $GIT_REPO $WORKING_DIR | indent
cd $WORKING_DIR

# Update deps.
echo "-----> Installing / Updating dependencies."
$BUNDLE install | indent

# Build site.
echo "-----> Building site."
JEKYLL_ENV=production $BUNDLE exec jekyll build --incremental -s $WORKING_DIR -d $PUBLIC_WWW | indent
