/* Get monitor width */
.screen {
  width: 100vw;
  height: 100vh;

  color: #ddd;
  font: 11.5px SF Mono, Menlo;
}

.date {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.load {
  position: absolute;
  bottom: 15px;
  right: 125px;
}
